@import "bootstrap/dist/css/bootstrap.min.css";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body{
    background-color: green;
}
#cardfigure1, #cardfigure2{
    font-size: 100px;
    margin-inline: 10px;
    
}
#cardnumber{
    font-size: 130px;
}

